/*  */
.header-bottom{
    padding-top: 10px;
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .item__nav{
        border: 1px solid #d2d2d2;
        color: #008848;
        width: 160px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
      }
      .item__nav:not(:last-child){
        margin-right: 20px;
      }
      .breadcrumb-list{
      
      }
  }
  